---

type Link = {
	href: string
	text: string
}

type LinkGroup = {
	title: string
	items: Link[]
}

const groups: LinkGroup[] = [
	{
		title: "Pages",
		items: [
			{
				href: "/weeklies/",
				text: "Weeklies",
			},
			{
				href: "/weeklies/submit/",
				text: "Submit weekly",
			},
			{
				href: "/blog/",
				text: "Blog",
			}
		],
	},
	{
		title: "Community",
		items: [
			{
				href: "https://discord.gg/Bk6TCaPu",
				text: "Contributing",
			},
			{
				href: "https://discord.gg/Bk6TCaPu",
				text: "Join our Discord",
			},
		],
	}
]

---

<footer class="container">
	<nav
		aria-label="Secondary"
		class="flex flex-col items-start justify-between gap-12 py-8 sm:flex-row md:py-12"
	>
		<div class="grid grid-cols-2 gap-12 sm:flex sm:flex-wrap sm:gap-16 lg:gap-20">
			{
				groups.map(({ title, items }, index) => (
					<section class="group flex flex-col">
						<h2 id={`footerHeading${index}`} class="code mb-4 text-base leading-none opacity-50">
							{title}
						</h2>
						<ul aria-labelledby={`footerHeading${index}`} class="flex flex-col gap-2">
							{items.map(({ href, text }) => (
								<li>
									<a href={href} class="link whitespace-nowrap">
										{text}
									</a>
								</li>
							))}
						</ul>
					</section>
				))
			}
		</div>
	</nav>
	<hr class="border-astro-gray-500" />
	<nav
		aria-label="Legal"
		class="grid grid-cols-[1fr,auto] items-center gap-x-4 gap-y-16 py-8 opacity-60 md:py-12"
	>
		<p>
			 &copy; {new Date().getFullYear()}&nbsp;
			<a href="/" class="link" target="_blank"
				>weeklies.dev</a
			>
		</p>
		<a href="https://astro.build">
			<img src="https://astro.badg.es/v2/built-with-astro/tiny.svg" alt="Built with Astro" width="120" height="20">
		</a>
	</nav>
</footer>
